$background-color-d = #f1f5f8
$background-color = #fff

$font-color = #333
$font-color-ll = #fff
$font-color-l = #8f8f8f
$font-color-e = #d7d7d7

$theme-color = #57a1e8
$theme-color2 = #fbce4a

$border-color = #161616

no-wrap()
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
